<!doctype html>
<html>
<head>
  <title>Chatbot</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
	<div class="header-container">
		
		<div class="title">
			🤖 Deep Learning Chatbot
		</div>
		
		<div class="links">
			<a target="_blank" href="https://www.linkedin.com/in/fady42/">
			<img src="/static/img/linkedin.png">
			</a>
			
			<a target="_blank" href="https://github.com/psyfb2/Chatbot">
			<img src="/static/img/github.svg">
			</a>
		</div>
	</div>
</div>

</body>
</html>